@import url(./reset.css);
@import url(./utils.css);
@import url(./header.css);
@import url(./hero_section.css);
@import url(./about_section.css);
@import url(./about_second_section.css);
@import url(./footer.css);
@import url(./quiz_page.css);
@import url(./loading_page.css);
@import url(./finish_page.css);
@import url(./result_page.css);

:root {
  --primaryText: #ffffff;
  --secondaryText: #0d0c11;
  --bg: #181818;
  --accent: #ffc700;
  --accentGreen: #3bde7c;
}

body {
  margin: 0;
  font-family: "Merriweather", "PT Serif", "Yeseva One", "Roboto", sans-serif;
  letter-spacing: 0.05em;

  color: var(--primaryText);
  background-image: url("../images/rain_bg.png");
  background-size: cover;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}
